body {
	background-color: #A7DBD8;
	margin: 0;
	padding: 0;
	color: #FA6900;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.4;
	height: 100%
}

.container-main .top {
	background-color: rgb(243,134,48);
	height: 400px;
}
.container-main .top img {
	position: relative;
 	top: 50%;
	transform: translateY(-50%);
	left: 40%;
	right:50%
	
	
	
}

.container-main .bottom {
		width: 300px;
    margin: 0 auto;
}

.container-main .bottom form p label {
	width: 4em;
	float: left;
	text-align: right;
	margin-right: 1.5em;
	display: block
}


.submit input
{
margin-left: 4.5em;
} 
