body {
	background-color: #A7DBD8;
	margin: 0;
	padding: 0;
	color: #FA6900;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.4;
	height: 100%
}

.container-main .top {
	background-color: rgb(243,134,48);
	height: 400px;
}
.container-main .top img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}
.container-main .bottom form {

}
.container-main .bottom {
		width: 300px;
    margin: 0 auto;
}
